USE [master]
GO
/****** Object:  Database [SmartBudgetDB]    Script Date: 4/27/2026 07:14:54 م ******/
CREATE DATABASE [SmartBudgetDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartBudgetDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SmartBudgetDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartBudgetDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SmartBudgetDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartBudgetDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartBudgetDB]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 4/27/2026 07:14:55 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[BudgetID] [int] NOT NULL,
	[UserID] [int] NULL,
	[CategoryID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[BudgetAmount] [float] NULL,
	[alertThreshold] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/27/2026 07:14:55 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[UserID] [int] NULL,
	[CategoryType] [nvarchar](20) NULL,
	[CategoryName] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialGoals]    Script Date: 4/27/2026 07:14:55 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialGoals](
	[GoalID] [int] NOT NULL,
	[UserID] [int] NULL,
	[GoalName] [nvarchar](40) NULL,
	[TargetAmount] [float] NULL,
	[CurrentAmount] [float] NULL,
	[TargetDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[GoalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 4/27/2026 07:14:55 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] NOT NULL,
	[UserID] [int] NULL,
	[CategoryID] [int] NULL,
	[TransactionAmount] [float] NULL,
	[TransactionType] [nvarchar](20) NULL,
	[TransactionDate] [date] NULL,
	[TrasactionDescription] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/27/2026 07:14:55 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](40) NULL,
	[LastName] [nvarchar](40) NULL,
	[Email] [nvarchar](40) NULL,
	[Password] [nvarchar](10) NULL,
	[Currency] [nvarchar](30) NULL,
	[CreatedDate] [date] NULL,
 CONSTRAINT [PK__Users__1788CCAC21C06F6A] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Budgets] ([BudgetID], [UserID], [CategoryID], [StartDate], [EndDate], [BudgetAmount], [alertThreshold]) VALUES (5001, 1, 11, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-30' AS Date), 2000, 0.85)
INSERT [dbo].[Budgets] ([BudgetID], [UserID], [CategoryID], [StartDate], [EndDate], [BudgetAmount], [alertThreshold]) VALUES (5002, 2, 21, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-30' AS Date), 2000, 0.85)
INSERT [dbo].[Budgets] ([BudgetID], [UserID], [CategoryID], [StartDate], [EndDate], [BudgetAmount], [alertThreshold]) VALUES (5003, 3, 31, CAST(N'2026-04-01' AS Date), CAST(N'2026-04-30' AS Date), 2000, 0.85)
GO
INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryType], [CategoryName]) VALUES (11, 1, N'Expense', N'Food')
INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryType], [CategoryName]) VALUES (12, 1, N'Expense', N'Transport')
INSERT [dbo].[Categories] ([CategoryID], [UserID], [CategoryType], [CategoryName]) VALUES (13, 1, N'Expense', N'Entertainment')
GO
INSERT [dbo].[FinancialGoals] ([GoalID], [UserID], [GoalName], [TargetAmount], [CurrentAmount], [TargetDate]) VALUES (8001, 1, N'Emergency Fund', 10000, 1200, CAST(N'2027-04-23' AS Date))
INSERT [dbo].[FinancialGoals] ([GoalID], [UserID], [GoalName], [TargetAmount], [CurrentAmount], [TargetDate]) VALUES (8002, 2, N'Emergency Fund', 10000, 1200, CAST(N'2027-04-23' AS Date))
INSERT [dbo].[FinancialGoals] ([GoalID], [UserID], [GoalName], [TargetAmount], [CurrentAmount], [TargetDate]) VALUES (8003, 3, N'Emergency Fund', 10000, 1200, CAST(N'2027-04-23' AS Date))
GO
INSERT [dbo].[Transactions] ([TransactionID], [UserID], [CategoryID], [TransactionAmount], [TransactionType], [TransactionDate], [TrasactionDescription]) VALUES (101, 1, 11, 150, N'Expense', CAST(N'2026-04-21' AS Date), N'Daily Meal')
INSERT [dbo].[Transactions] ([TransactionID], [UserID], [CategoryID], [TransactionAmount], [TransactionType], [TransactionDate], [TrasactionDescription]) VALUES (102, 1, 14, 5000, N'Income', CAST(N'2026-04-20' AS Date), N'Monthly Salary')
INSERT [dbo].[Transactions] ([TransactionID], [UserID], [CategoryID], [TransactionAmount], [TransactionType], [TransactionDate], [TrasactionDescription]) VALUES (201, 2, 21, 150, N'Expense', CAST(N'2026-04-21' AS Date), N'Daily Meal')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password], [Currency], [CreatedDate]) VALUES (1, N'UserFirst1', N'UserLast1', N'user1@fcai.cu.edu.eg', N'Pass1', N'USD', CAST(N'2026-04-21' AS Date))
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password], [Currency], [CreatedDate]) VALUES (2, N'UserFirst2', N'UserLast2', N'user2@fcai.cu.edu.eg', N'Pass2', N'EUR', CAST(N'2026-04-20' AS Date))
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password], [Currency], [CreatedDate]) VALUES (3, N'UserFirst3', N'UserLast3', N'user3@fcai.cu.edu.eg', N'Pass3', N'EGP', CAST(N'2026-04-19' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [FK__Budgets__UserID__534D60F1] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [FK__Budgets__UserID__534D60F1]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK__Categorie__UserI__4CA06362] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK__Categorie__UserI__4CA06362]
GO
ALTER TABLE [dbo].[FinancialGoals]  WITH CHECK ADD  CONSTRAINT [FK__Financial__UserI__571DF1D5] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[FinancialGoals] CHECK CONSTRAINT [FK__Financial__UserI__571DF1D5]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__UserI__4F7CD00D] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK__Transacti__UserI__4F7CD00D]
GO
USE [master]
GO
